<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/output.css" thth:href="@{css/output.css}">
    <title>Document</title>
  </head>
  <body>
    <div class="bg-amber-300">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
      quas corporis, necessitatibus illum asperiores aspernatur hic obcaecati
      illo esse tempore blanditiis delectus dolores? Cumque dolorem, ut cum
      illum debitis iure!
    </div>
    <div class="text-2xl">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis error
      modi fugiat quod similique totam temporibus quia sit expedita, iure
      quaerat perferendis, praesentium minus iste exercitationem nobis! Totam
      tempore obcaecati deleniti quam eos at! Nesciunt, rerum voluptates
      accusantium quasi numquam accusamus ducimus mollitia beatae. Neque magnam
      corporis temporibus iusto itaque est nostrum illo incidunt dignissimos
      quae doloribus ea, soluta molestiae libero porro nisi tempore unde facilis
      ullam, animi nesciunt eveniet. Ratione voluptatum rerum cumque officia sit
      maiores voluptas, odio unde, dolor corrupti ea quisquam consequuntur atque
      itaque natus alias velit. Iste laboriosam obcaecati dolore reiciendis
      quas. Voluptate repellendus praesentium officia ipsum iste mollitia!
      Laudantium, necessitatibus reiciendis. Veniam, vero ducimus? Error sint
      hic minima incidunt recusandae repellendus tenetur corrupti id, numquam
      earum porro, quasi ad animi esse harum minus enim soluta deserunt
      voluptate! Unde voluptatibus quia iure neque minus? Nemo officiis at,
      quisquam aspernatur, ratione, incidunt cum ad quam perferendis quos
      numquam. Laboriosam, veniam corporis temporibus ipsa earum sunt, maiores
      dignissimos hic quo sit blanditiis, eveniet itaque ullam labore nulla
      incidunt. Laudantium sint nemo esse rem aspernatur repellat cupiditate eos
      ipsum, molestiae ad omnis repellendus quam mollitia recusandae, vel ut,
      aperiam asperiores voluptatibus quisquam. Nulla dolor, cum aliquid labore
      autem fugit repudiandae molestiae, sit reprehenderit expedita porro
      dignissimos corrupti quam dolore voluptatum quia, debitis hic fuga ab
      sequi suscipit deleniti voluptate asperiores. Voluptas vel inventore
      deserunt dicta pariatur, dolores minus, minima voluptatem alias quos
      perspiciatis architecto. Animi accusamus sint, delectus obcaecati facere
      odio sequi unde sunt molestiae architecto vero rerum nemo expedita debitis
      nobis in aliquid illo doloribus alias dolor harum mollitia! Reiciendis, id
      iusto quidem vitae fugit explicabo tempora, reprehenderit repellat
      deleniti rem nam ipsum recusandae temporibus quibusdam veritatis molestiae
      cum odit vel mollitia obcaecati voluptatibus velit est. Commodi beatae,
      culpa laudantium labore maiores tempore velit quis quos est reiciendis.
    </div>
  </body>
</html>
